.namn { 
    position: fixed; 
    left: 10px;
    bottom: 15px; 
    padding-left: 10px; 
    padding-right: 10px; 
}
.grid-container {
    display: grid; 
    grid-template-areas: 
      'Text1 Text1 Text2 Text2 Text3 Text3'
      'Text1 Text1 Text2 Text2 Text3 Text3'
      'Text4 Text4 Text2 Text2 Text3 Text3'
      'Text4 Text4 Text2 Text2 Text3 Text3';
    grid-gap: 10px; 
    background-color: rgb(80, 74, 74);
    padding-top: 10px;
}

.grid-container > div { 
    background-color: white; 
}

.sak3 { 
    grid-area: Text1; 
    max-width: 65vh;
    height: 45vh;
    text-align: center;
}

.sak4 {
    grid-area: Text2; 
    max-width: 65vh;
}

.sak5 { 
    grid-area: Text3;
    text-align: center;
}

.sak6 {
    grid-area: Text4;
    max-width: 65vh;
}
.namn {
    background-color: rgb(169, 169, 169);
    box-shadow: 10px 10px 60px 10px; 
}
.text1 {
    background-color: rgb(169, 169, 169);
    margin-left: 20px;
}
.text2 {
    position: fixed;
    top: 200px;
    text-align: center;
    background-color: rgb(169, 169, 169);
    margin-left: 20px;
    column-rule-style: solid;
    width: 345px;
}
