.grid-container { /* Namn på class*/
    display: grid; /* Visa det hära som en grid */
    grid-template-areas: /* Positioner för class i grid */
      'Text1 Text1 Text2 Text2 Text3 Text3'
      'Text1 Text1 Text2 Text2 Text3 Text3'
      'Text1 Text1 Text2 Text2 Text4 Text4'
      'Text1 Text1 Text2 Text2 Text4 Text4';
    grid-gap: 10px; /* Mellan rum per cell */
    background-color: rgb(80, 74, 74); /* Bakgrundsfärg */
    padding-top: 10px;
}

dt{
    font-size: large;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 10px solid #000000;
    text-align: left;
    padding: 8px;
}

.grid-container > div { /* Div inuti class grid-container */
    background-color: white; /* Bakgrundsfärg */
}

.sak3 { /* Namn på class */ 
    background-image: url(computerman.png);
    background-repeat: no-repeat;
    grid-area: Text1; /* Namn i grid-template-areas */ 
    width: 63vh;
    height: 60vh;
}

.sak4 { /* Namn på class */
    grid-area: Text2; /* Namn i grid-template-areas */
    font-size: large;
    text-align: center;
    padding-top: 100px;
    width: 450px;
    height: 450px;
}

.sak5 { /* Namn på class */
    grid-area: Text3; /* Namn i grid-template-areas */ 
    background-image: url(potato.png);
}

.sak6 {
    
    grid-area: Text4; /* Namn i grid-template-areas */
    font-size: 45px;
}

