@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap'); /* Importerar en extern font */

body {
    background: hsl(180, 75%, 24%);
    margin: 0;
    font-family:  'Oswald', sans-serif;
}

.container {
    max-width: 100vh;
}

.namn { 
    position: fixed;
    left: 10px;
    bottom: 15px; 
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(169, 169, 169);
    box-shadow: 10px 10px 60px 10px;
}

a:link {
    color: rgb(117, 117, 117);
}
a:visited {
    color:hsl(0, 0%, 100%)
}
a:focus {
    color:hsl(180, 13%, 46%)
}
a:hover {
    color: #444;
}
a:active {
    color: #fff;
}

nav {
    background: hsl(180, 75%, 30%);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; /* Position kommer att vara relativ till min ul i min nav */
    text-align: left;
}
.nav-head {
    text-align: center;
}
nav li {
    display: inline-block;
}

nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: block;
    padding: .75em 1.75em;
}

nav li:hover a {
    color: #fff;
}

nav a:hover {
    color: #444;
}

.menu-sub {
    position: absolute;
    background: hsl(180, 50%, 50%);
    width: 12%;
    display: none;
}

nav li:hover .menu-sub { /* När man *hoverar* över nav bar itemet så visas den */
    display: block;
}

.menu-sub li {
    display: block;
}

a:hover {
    background-color: #27b8bd;
    transition: background-color 400ms linear;
}