body {
    background: rgb(80, 74, 74);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.namn { /* Namn på class */
    position: fixed; /* Position på sida */
    left: 10px;
    bottom: 15px; /* Botten på sidan */
    padding-left: 10px; /* Kudde på vänster sida */
    padding-right: 10px; /* Kudde på höger sida */
    background-color: rgb(169, 169, 169); /* Bakgrundsfärg */
    box-shadow: 10px 10px 60px 10px; /* Skugga */
}

nav {
    background: #fff;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; /* Position kommer att vara relativ till min ul i min nav */
    text-align: left;
}
.nav-head {
    font-size: 25px;
    text-align: center;
}
nav li {
    display: inline-block;
}

nav a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: .75em 1.75em;
}

nav li:hover a {
    color: #fff;
}

nav a:hover {
    color: #444;
}

.menu-sub {
    position: absolute;
    background: #444;
    width: 100%;
    display: none;
}

nav li:hover .menu-sub { /* När man *hoverar* över nav bar itemet så visas den */
    display: block;
}

.menu-sub li {
    display: block;
}